<!-- conclusao.html -->
<!-- introducao.html -->

<head>
  <!-- ... Outras tags head ... -->
  
  <link rel="stylesheet" href="/projrampafolder/estilos/conclusao.css">
  <!-- ... Outros links para arquivos de estilo específicos ... -->
</head>

<section id="conclusao"></section>
<h2>5. conclusao</h2>

<h3>5.1 Coleta de Dados</h3>
<p>
  Apresentação dos dados coletados durante a experimentação.
</p>

<h3>5.2 Análise da conclusao</h3>
<p>
  Interpretação dos dados, destacando o comportamento do sistema antes e depois da aplicação do controlador PID.
</p>
<a href="/projrampafolder/index.html">Voltar</a>