<section id="dadosfinais">
  <!-- introducao.html -->

  <head>
    <!-- ... Outras tags head ... -->
   
    <link rel="stylesheet" href="/projrampafolder/estilos/dadosfinais.css">
    <!-- ... Outros links para arquivos de estilo específicos ... -->
  </head>

  <!-- introducao.html -->
  <h2>1. Dados finais</h2>

  <h3>1.1 Objetivo da Prática</h3>
  <p>Descrever de forma sucinta o objetivo da prática, destacando a automação de um sistema utilizando um controlador
    Proporcional, Integral e Derivativo (PID).</p>
  <ul>
    <li>Detalhe 1</li>
    <li>Detalhe 2</li>
    <li>Detalhe 3</li>
  </ul>

  <h3>1.2 Justificativa</h3>
  <p>Explicar a importância da automação de sistemas e a aplicabilidade do controlador PID em processos industriais.</p>
  <a href="/projrampafolder/index.html">Voltar</a>
  <!-- Adicione mais conteúdo conforme necessário -->