<section id="fundamentacao">
  <!-- introducao.html -->

  <head>
    <!-- ... Outras tags head ... -->
   
    <link rel="stylesheet" href="/projrampafolder/estilos/fundamentacao.css">
    <!-- ... Outros links para arquivos de estilo específicos ... -->
  </head>

  <h2>2. Fundamentação Teórica</h2>

  <h3>2.1 Controlador PID</h3>
  <p>O controlador PID é um dispositivo utilizado em sistemas de controle automático para manter uma variável controlada o mais próximo possível de um valor de referência desejado. Ele é amplamente utilizado em uma variedade de aplicações industriais e de engenharia devido à sua simplicidade e eficácia.
  <h3>2.2 Princípios da Automação</h3>
  <p>Os princípios-chave da automação incluem a utilização de sensores para coletar dados em tempo real, a tomada de decisões baseada em lógica ou algoritmos, e a ação executada por atuadores. Esses princípios permitem que os sistemas automatizados monitorem, controlem e ajustem processos de forma eficiente

    A automação desempenha um papel crucial na indústria moderna, trazendo uma série de benefícios e impactando positivamente diversos aspectos.em uma empresa 
    ela é responsável pela eficiência operacional, redução de custos, segurança no trabalho e em geral  pela eficiência nos processos dado que ela visa a produção em massa. 
    </p>
</section>
<a href="/projrampafolder/index.html">Voltar</a>