<section id="introducao">
  <!-- introducao.html -->

  <head>
    <!-- ... Outras tags head ... -->
 
    <link rel="stylesheet" href="/projrampafolder/estilos/introducao.css">
    <!-- ... Outros links para arquivos de estilo específicos ... -->
  </head>

  <!-- introducao.html -->
  <h2>1. Introdução</h2>

  <h3>1.1 Objetivo da Prática</h3>
  <p>
    O presente trabalho tem como objetivo explorar a aplicação do controlador PID na automação de sistemas, visando otimizar o desempenho, minimizar erros e proporcionar uma resposta dinâmica ajustada às demandas específicas.
     Em particular, será abordada a aplicação prática do PID em um sistema de rampa onde o objetivo será fazer com que o sensor de presença reconheça a posição da bolinha  e seja capaz de controlar a rampa sem que haja distúrbios.

  </p>
  <ul>
    <li>Detalhe 1</li>
    <li>Detalhe 2</li>
    <li>Detalhe 3</li>
  </ul>
  
  <div class="container">
    <img src="/projrampafolder/estilos/img/download.jpeg" alt="Descrição da Imagem">
    <!-- Outro conteúdo do site aqui -->
</div>

  <h3>1.2 Justificativa</h3>
  <p>O sistema PID (proporcional, integral e derivativo) tem se destacado como uma estratégia confiável para otimizar processos, reduzir erros e aprimorar a eficiência operacional. Sua aplicação é vasta, englobando desde sistemas térmicos e de posicionamento até processos químicos complexos. Compreender a fundo o funcionamento e a implementação prática do Sistema PID torna-se, portanto, essencial para profissionais e estudantes da área de automação. 
  </p>

  <a href="/projrampafolder/index.html">Voltar</a>

  <!-- Adicione mais conteúdo conforme necessário -->