<section id="metodologia">
  <!-- introducao.html -->

  <head>
    <!-- ... Outras tags head ... -->
   
    <link rel="stylesheet" href="/projrampafolder/estilos/metodologia.css">
    <!-- ... Outros links para arquivos de estilo específicos ... -->
  </head>

  <h2>3. Metodologia Experimental</h2>

  <h3>3.1 Materiais Utilizados</h3>
  <p>Lista dos equipamentos e materiais utilizados durante a prática.</p>

  <h3>3.2 Procedimento Experimental</h3>
  <p>Descrição detalhada do passo a passo da experimentação, desde a configuração dos equipamentos até a coleta de
    dados.</p>
</section>
<a href="/projrampafolder/index.html">Voltar</a>