<section id="refbibliograficas">
  <!-- introducao.html -->

  <head>
    <!-- ... Outras tags head ... -->
    
    <link rel="stylesheet" href="/projrampafolder/estilos/refbibliograficas.css">
    <!-- ... Outros links para arquivos de estilo específicos ... -->
  </head>

  <!-- refbibliograficas.html -->
  <h2>1. Referencias bibliograficas</h2>

  <h3>1.1 Referencias</h3>
  <p>
    https://www.nepin.com.br/blog/solucoes-industriais/tudo-que-voce-precisa-saber-sobre-automacao-industrial/#:~:text=Os%20princ%C3%ADpios%2Dchave%20da%20automa%C3%A7%C3%A3o,ajustem%20processos%20de%20forma%20eficiente.
    .</p>  <a href="/projrampafolder/index.html">Voltar</a>
  <!-- Adicione mais conteúdo conforme necessário -->