<section id="sistemaexp">
  <!-- introducao.html -->

  <head>
    <!-- ... Outras tags head ... -->
  
    <link rel="stylesheet" href="/projrampafolder/estilos/sistemaexp.css">
    <!-- ... Outros links para arquivos de estilo específicos ... -->
  </head>

  <!-- sistemaexp.html -->
  <h2>1. sistema experimental</h2>

  <h3>1.1 Descrição do sistema</h3>
  <p>Controle Proporcional</p>
  <ul>
    <li>#include <Servo.h>

      const int triggerPin = 6;  // Pino de TRIGGER do sensor ultrassônico
      const int echoPin = 7;     // Pino de ECHO do sensor ultrassônico
      const int servoPin = 9;    // Pino para o servo motor
      
      Servo meuServo;
      
      void setup() {
        Serial.begin(9600);
        meuServo.attach(servoPin);
        pinMode(triggerPin, OUTPUT);
        pinMode(echoPin, INPUT);
      }
      
      void loop() {
        // Aciona o pulso no pino de TRIGGER
        digitalWrite(triggerPin, LOW);
        delayMicroseconds(2);
        digitalWrite(triggerPin, HIGH);
        delayMicroseconds(10);
        digitalWrite(triggerPin, LOW);
      
        // Lê a duração do pulso no pino de ECHO
        unsigned long duration = pulseIn(echoPin, HIGH);
      
        // Converte a duração em distância
        float distance = duration * 0.034 / 2;
      
        // Limita a distância para evitar leituras incorretas
        if (distance < 2 || distance > 40) {
          distance = 0;
        }
      
        // Ajusta o comportamento quando a bolinha está muito próxima do sensor
        if (distance < 10) {
          // Move o servo no sentido anti-horário para afastar a bolinha
          meuServo.write(180);  // Valor máximo para a posição do servo
        } else {
          // Mapeia a distância para a posição do servo (normal)
          int posicaoServo = map(distance, 0, 40, 0, 180);
          
          // Move o servo para a posição calculada
          meuServo.write(posicaoServo);
        }
      
        Serial.println(distance);  // Para debug, imprime a distância no Monitor Serial
        delay(100);  // Aguarda um curto período antes de ler o sensor novamente
      }
      </li>
      <p>Controle Integral</p>
    <li>#include <Servo.h>

      const int triggerPin = 6;  // Pino de TRIGGER do sensor ultrassônico
      const int echoPin = 7;     // Pino de ECHO do sensor ultrassônico
      const int servoPin = 9;    // Pino para o servo motor
      
      Servo meuServo;
      
      float distanciaAlvo = 20.0; // Distância desejada da bolinha ao sensor
      float erroIntegral = 0.0;   // Termo integral do controle
      float erroAnterior = 0.0;   // Armazena o erro anterior
      float KP = 1.0;             // Ganho proporcional
      float KI = 0.01;            // Ganho integral
      
      void setup() {
        Serial.begin(9600);
        meuServo.attach(servoPin);
        pinMode(triggerPin, OUTPUT);
        pinMode(echoPin, INPUT);
        meuServo.write(70);
      }
      
      void loop() {
        // Aciona o pulso no pino de TRIGGER
        digitalWrite(triggerPin, LOW);
        delayMicroseconds(2);
        digitalWrite(triggerPin, HIGH);
        delayMicroseconds(10);
        digitalWrite(triggerPin, LOW);
      
        // Lê a duração do pulso no pino de ECHO
        unsigned long duration = pulseIn(echoPin, HIGH);
      
        // Converte a duração em distância
        float distance = (duration * 0.03 / 2) - 1;
      
        // Calcula o erro proporcional
        float erroProporcional = distanciaAlvo - distance;
      
        // Calcula o termo integral
        erroIntegral += erroProporcional;
      
        // Limita o termo integral para evitar instabilidades
        if (erroIntegral > 50.0) {
          erroIntegral = 50.0;
        } else if (erroIntegral < -50.0) {
          erroIntegral = -50.0;
        }
      
        // Calcula a correção do servo (proporcional + integral)
        int correcaoServo = int(KP * erroProporcional + KI * erroIntegral);
      
        // Move o servo de acordo com a correção calculada
        meuServo.write(constrain(70 + correcaoServo, 40, 100));
      
        // Atualiza o erro anterior
        erroAnterior = erroProporcional;
      
        Serial.println(distance); // Para debug, imprime a distância no Monitor Serial
        delay(50);               // Aguarda um curto período antes de ler o sensor novamente
      }
      </li>
      <p>Controle Derivativo</p>
    <li>#include <Servo.h>

      const int triggerPin = 6;   // Pino de TRIGGER do sensor ultrassônico
      const int echoPin = 7;      // Pino de ECHO do sensor ultrassônico
      const int servoPin = 9;     // Pino para o servo motor
      
      Servo meuServo;
      
      float distanciaAlvo = 20.0;  // Distância desejada da bolinha ao sensor
      float erroIntegral = 0.0;    // Termo integral do controle
      float erroAnterior = 0.0;    // Armazena o erro anterior
      float KP = 1.0;              // Ganho proporcional
      float KI = 0.01;             // Ganho integral
      float KD = 0.1;              // Ganho derivativo
      
      void setup() {
        Serial.begin(9600);
        meuServo.attach(servoPin);
        pinMode(triggerPin, OUTPUT);
        pinMode(echoPin, INPUT);
        meuServo.write(70);
      }
      
      void loop() {
        // Aciona o pulso no pino de TRIGGER
        digitalWrite(triggerPin, LOW);
        delayMicroseconds(2);
        digitalWrite(triggerPin, HIGH);
        delayMicroseconds(10);
        digitalWrite(triggerPin, LOW);
      
        // Lê a duração do pulso no pino de ECHO
        unsigned long duration = pulseIn(echoPin, HIGH);
      
        // Converte a duração em distância
        float distance = (duration * 0.03 / 2) - 1;
      
        // Calcula o erro proporcional
        float erroProporcional = distanciaAlvo - distance;
      
        // Calcula o termo integral
        erroIntegral += erroProporcional;
      
        // Limita o termo integral para evitar instabilidades
        if (erroIntegral > 50.0) {
          erroIntegral = 50.0;
        } else if (erroIntegral < -50.0) {
          erroIntegral = -50.0;
        }
      
        // Calcula o termo derivativo
        float erroDerivativo = erroProporcional - erroAnterior;
      
        // Calcula a correção do servo (proporcional + integral + derivativo)
        int correcaoServo = int(KP * erroProporcional + KI * erroIntegral + KD * erroDerivativo);
      
        // Move o servo de acordo com a correção calculada
        meuServo.write(constrain(70 + correcaoServo, 40, 100));
      
        // Atualiza o erro anterior
        erroAnterior = erroProporcional;
      
        Serial.println(distance);  // Para debug, imprime a distância no Monitor Serial
        delay(50);                // Aguarda um curto período antes de ler o sensor novamente
      }
      </li>
  </ul>

  <h3>1.2 Justificativa</h3>
  <p>Explicar a importância da automação de sistemas e a aplicabilidade do controlador PID em processos industriais.</p>
  <a href="/projrampafolder/index.html">Voltar</a>
  <!-- Adicione mais conteúdo conforme necessário -->