/* style.css */

/* Estilos gerais para toda a página */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.container {
  text-align: center;
}

.titulo {
  color: #0d55a7; /* Cor desejada para o título */
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
header {
  background-color: #a39d9d;
  color: #9b9797;
  text-align: center;
  padding: 1em 0;
}

/* Estilos para a navegação */
nav {
  background-color: #03070f;
  padding: 0.5em;
}
h2 {
  color: rgb(167, 154, 41);
}

h3 {
  color: #804d00;
}

p {
  color: #333;
}

/* ... Adicione mais estilos específicos conforme necessário ... */
/* ... Adicione mais estilos gerais conforme necessário ... */