/* style.css */

/* Estilos gerais para toda a página */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.container {
  text-align: center;
}

.titulo {
  color: #333; /* Cor desejada para o título */
}
body {
  font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

/* Estilos para a navegação */
nav {
  background-color: #eeeeee;
  padding: 0.5em;
}
h2 {
  color: #007BFF;
}

h3 {
  color: #004080;
}

p {
  color: #333;
}

/* ... Adicione mais estilos específicos conforme necessário ... */
/* ... Adicione mais estilos gerais conforme necessário ... */